<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
     <link rel="stylesheet" href="stylesheets/profile.css">
     <link rel="icon" type="image/x-icon" href="/images/Logo/Logo1.png">

    <title>Profile</title>
</head>

<body>
    <%- include('partials/header') %> 

    <div id="card">
        <div class="relative">
        <img id="avatar"
        src="/images/dp/<%=  user.dp   %>" alt="" />
            <p class="edit absolute flex items-center right-2 bottom-2 rounded-full bg-zinc-700 h-9 w-9">
                <svg xmlns="http://www.w3.org/2000/svg" class="relative cursor-pointer left-[9px]" width="16" height="16" fill="white" class="bi bi-pen-fill" viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
              </svg></p>
        </div>
        <div id="info">
            <p id="name">
                <%= user.fullname %>
            </p>
            <p id="activity">@<%= user.username %>
            </p>
            <p onclick="fixedBody('.inviform2')" id="btn1"><svg style="position: absolute;left: 9px;" xmlns="http://www.w3.org/2000/svg" fill="#fff"
                    x="0px" y="10px" width="20" height="20" viewBox="0 0 50 50">
                    <path
                        d="M 22.205078 2 A 1.0001 1.0001 0 0 0 21.21875 2.8378906 L 20.246094 8.7929688 C 19.076509 9.1331971 17.961243 9.5922728 16.910156 10.164062 L 11.996094 6.6542969 A 1.0001 1.0001 0 0 0 10.708984 6.7597656 L 6.8183594 10.646484 A 1.0001 1.0001 0 0 0 6.7070312 11.927734 L 10.164062 16.873047 C 9.583454 17.930271 9.1142098 19.051824 8.765625 20.232422 L 2.8359375 21.21875 A 1.0001 1.0001 0 0 0 2.0019531 22.205078 L 2.0019531 27.705078 A 1.0001 1.0001 0 0 0 2.8261719 28.691406 L 8.7597656 29.742188 C 9.1064607 30.920739 9.5727226 32.043065 10.154297 33.101562 L 6.6542969 37.998047 A 1.0001 1.0001 0 0 0 6.7597656 39.285156 L 10.648438 43.175781 A 1.0001 1.0001 0 0 0 11.927734 43.289062 L 16.882812 39.820312 C 17.936999 40.39548 19.054994 40.857928 20.228516 41.201172 L 21.21875 47.164062 A 1.0001 1.0001 0 0 0 22.205078 48 L 27.705078 48 A 1.0001 1.0001 0 0 0 28.691406 47.173828 L 29.751953 41.1875 C 30.920633 40.838997 32.033372 40.369697 33.082031 39.791016 L 38.070312 43.291016 A 1.0001 1.0001 0 0 0 39.351562 43.179688 L 43.240234 39.287109 A 1.0001 1.0001 0 0 0 43.34375 37.996094 L 39.787109 33.058594 C 40.355783 32.014958 40.813915 30.908875 41.154297 29.748047 L 47.171875 28.693359 A 1.0001 1.0001 0 0 0 47.998047 27.707031 L 47.998047 22.207031 A 1.0001 1.0001 0 0 0 47.160156 21.220703 L 41.152344 20.238281 C 40.80968 19.078827 40.350281 17.974723 39.78125 16.931641 L 43.289062 11.933594 A 1.0001 1.0001 0 0 0 43.177734 10.652344 L 39.287109 6.7636719 A 1.0001 1.0001 0 0 0 37.996094 6.6601562 L 33.072266 10.201172 C 32.023186 9.6248101 30.909713 9.1579916 29.738281 8.8125 L 28.691406 2.828125 A 1.0001 1.0001 0 0 0 27.705078 2 L 22.205078 2 z M 23.056641 4 L 26.865234 4 L 27.861328 9.6855469 A 1.0001 1.0001 0 0 0 28.603516 10.484375 C 30.066026 10.848832 31.439607 11.426549 32.693359 12.185547 A 1.0001 1.0001 0 0 0 33.794922 12.142578 L 38.474609 8.7792969 L 41.167969 11.472656 L 37.835938 16.220703 A 1.0001 1.0001 0 0 0 37.796875 17.310547 C 38.548366 18.561471 39.118333 19.926379 39.482422 21.380859 A 1.0001 1.0001 0 0 0 40.291016 22.125 L 45.998047 23.058594 L 45.998047 26.867188 L 40.279297 27.871094 A 1.0001 1.0001 0 0 0 39.482422 28.617188 C 39.122545 30.069817 38.552234 31.434687 37.800781 32.685547 A 1.0001 1.0001 0 0 0 37.845703 33.785156 L 41.224609 38.474609 L 38.53125 41.169922 L 33.791016 37.84375 A 1.0001 1.0001 0 0 0 32.697266 37.808594 C 31.44975 38.567585 30.074755 39.148028 28.617188 39.517578 A 1.0001 1.0001 0 0 0 27.876953 40.3125 L 26.867188 46 L 23.052734 46 L 22.111328 40.337891 A 1.0001 1.0001 0 0 0 21.365234 39.53125 C 19.90185 39.170557 18.522094 38.59371 17.259766 37.835938 A 1.0001 1.0001 0 0 0 16.171875 37.875 L 11.46875 41.169922 L 8.7734375 38.470703 L 12.097656 33.824219 A 1.0001 1.0001 0 0 0 12.138672 32.724609 C 11.372652 31.458855 10.793319 30.079213 10.427734 28.609375 A 1.0001 1.0001 0 0 0 9.6328125 27.867188 L 4.0019531 26.867188 L 4.0019531 23.052734 L 9.6289062 22.117188 A 1.0001 1.0001 0 0 0 10.435547 21.373047 C 10.804273 19.898143 11.383325 18.518729 12.146484 17.255859 A 1.0001 1.0001 0 0 0 12.111328 16.164062 L 8.8261719 11.46875 L 11.523438 8.7734375 L 16.185547 12.105469 A 1.0001 1.0001 0 0 0 17.28125 12.148438 C 18.536908 11.394293 19.919867 10.822081 21.384766 10.462891 A 1.0001 1.0001 0 0 0 22.132812 9.6523438 L 23.056641 4 z M 25 17 C 20.593567 17 17 20.593567 17 25 C 17 29.406433 20.593567 33 25 33 C 29.406433 33 33 29.406433 33 25 C 33 20.593567 29.406433 17 25 17 z M 25 19 C 28.325553 19 31 21.674447 31 25 C 31 28.325553 28.325553 31 25 31 C 21.674447 31 19 28.325553 19 25 C 19 21.674447 21.674447 19 25 19 z">
                    </path>
                </svg>Account Setting</p>
            <p onclick="fixedBody('.inviform')" id="btn2">
                <svg style="position:absolute;left: 10px" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                    fill="currentColor" class="bi bi-file-post-fill" viewBox="0 0 16 16">
                    <path
                        d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M4.5 3h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1m0 2h7a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5" />
                </svg>
                Create Post</p>
        </div>     
    </div>
    <hr style="color: white;height: 2px;background-color: #fff;margin: 0;">
    <div class="container">
        <h1>Your Posts</h1>
        <% user.posts.forEach(function(elem){ %>
            <div class="relative box">
                <form action="/delete/post/<%= elem._id %>" method="post" class="absolute top-2 right-2 h-12 w-9 bg-zinc-200 rounded-md text-red-500">
                    <input class="hidden" type="hidden" name="_method" value="DELETE">
                    <button class="relative" type="submit">
                        <svg class="absolute top-[-8px] left-[4px]" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                      </svg>
                    </button>
                  </form>
                <img src="/images/uploads/<%= elem.postImage %>" alt="image">
                <div class="caption">
                    <strong><%= elem.postText %></strong>
                </div>
                <div class="discription text-white tracking-tight"><%= elem.discription %></div>
            </div>
            <% }) %>
    </div>
    <div class="inviform">
        <div class="post">
            <h2>Create a post</h2>
            <form style="position: relative" action="/upload" method="post" enctype="multipart/form-data">
                <svg onclick="invi('.inviform')" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                  </svg>
                <input class="fileInput text-zinc-200 rounded-md" value="Upload pic here" type="file" name="file" required>
                <input class="text" type="text" name="filecaption" placeholder="Title goes here" required>
                <textarea class="py-2 px-4" name="discription" placeholder="Discription" ></textarea>
                <input onclick="invi('.inviform')" class="submit" type="submit" value="Create Post">
            </form>
        </div>
    </div>
    <div class="inviform2 text-zinc-200 hidden absolute top-0 left-0 bg-[#00000030] h-screen w-screen">
           <div style="border-radius: 20px 0px 20px 0px;" class="py-5 px-7 h-[60vh] relative left-[50%] translate-x-[-50%] top-[50%] translate-y-[-50%] w-[40vw] bg-[#393E46]">
            <h4 class="font-semibold text-3xl mb-3">Edit account setting</h4>
            <svg onclick="invi('.inviform2')" class="absolute cursor-pointer top-[3vh] right-[2vw]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
              </svg>
            <form action="/edit" method="post">
                <input type="hidden" value="<%= user._id %>" name="userid"> 
                <label for="input_1">Set up new username: </label>
            <input id="input_1" class="rounded-md block mb-2 px-3 py-2 text-zinc-900" type="text" placeholder="New Username" name="username" value="<%= user.username %>" required>
            <label for="input_2">Change your name: </label>
            <input id="input_2" class="rounded-md block mb-2 px-3 py-2 text-zinc-900" type="text" placeholder="Change Name" name="fullname" value="<%= user.fullname %>" required>
            <label for="input_3">Change your e-mail: </label>
            <input id="input_3" class="rounded-md block mb-2 px-3 py-2 text-zinc-900" type="email" placeholder="Change e-mail" name="email" value="<%= user.email %>" required>
            <input onclick="invi('.inviform2')" class="w-full bg-red-500 text-xl text-zinc-200 mt-3 cursor-pointer py-1" type="submit" value="Edit">
        </form>
           </div>
    </div>
    <form action="/dp" class="dpform absolute hidden" method="post" enctype="multipart/form-data">
        <input class="dpuploader" type="file" name="dpimg">
        <button type="submit">Upload</button>
    </form>

        <script>
            function fixedBody(form) {
                document.querySelector(form).style.display = 'block';
                document.body.style.position = "fixed"
            }
            function invi(form){
                document.querySelector(form).style.display = 'none';
                document.body.style.position = "static"
            }

            document.querySelector(".edit").addEventListener("click", () => {
               document.querySelector(".dpuploader").click();
            })

            document.querySelector(".dpuploader").addEventListener("change", () => {
               document.querySelector(".dpform").submit();
            })

        </script>
</body>

</html>